<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>step03_JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SAVE</display-name>
    <servlet-name>SAVE</servlet-name>
    <servlet-class>com.ssafy.product.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAVE</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BASKET</display-name>
    <servlet-name>BASKET</servlet-name>
    <servlet-class>com.ssafy.product.BasketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BASKET</servlet-name>
    <url-pattern>/basket</url-pattern>
  </servlet-mapping>
</web-app>